:root{
    --bg-color:#0c192b;
}

body{
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

button{
    border-radius: 5px;
    color: rgb(204, 204, 204);
    background-color: rgb(34, 11, 148);
    margin: 5px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.crud{
    margin: 20px;
    border: 1px solid rgb(28, 210, 86);
    border-radius: 10px;
    padding: 10px;
    color: rgb(27, 241, 59);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#createUser, #updateUser, #deleteUser, #query{
    width: 200px;
}